.section1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; /* 넘치는 부분 숨기기 */
}

.video-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.section1_video {
  position: absolute;
  width: 100vw;
  height: 56.25vw; /* 16:9 비율 */
  min-height: 100vh;
  min-width: 177.77vh; /* 16:9 비율 반대로 계산 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
